!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %title= current_page.data.title || ''
    %meta{name: 'description', content: ''}
    %meta{name: 'author', content: ''}
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")

    :plain
        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    %link{href: 'https://fonts.googleapis.com/css?family=Exo+2:200,400,700', type: 'text/css', rel: 'stylesheet' }
    %link{href: '/stylesheets/application.css', type: 'text/css', rel: 'stylesheet' }
    %link{href: '/stylesheets/main.css', type: 'text/css', rel: 'stylesheet' }
    %link{href: '/stylesheets/debug.css', type: 'text/css', rel: 'stylesheet' }
    -# %link{href: '/stylesheets/cv.css', type: 'text/css', rel: 'stylesheet' }

  %body
    .navbar.navbar-default.navbar-static-top
      .container
        %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand
          -# = link_to '/' do
          -#   = image_tag 'bmc_header.png', class: "logo-large hidden-xs", height: 60
          -#   = image_tag 'bmc_square.png', class: "logo-small visible-xs", height: 50
          .navbar-collapse.collapse.navbar-responsive-collapse
          %ul.nav.navbar-nav
            %li= link_to "home", '/',              _class: "btn btn-default"
            %li= link_to "CV (FR)", '/cv.html',    _class: "btn btn-default"
            %li= link_to "CV (EN)", '/cv-en.html', _class: "btn btn-default"
            %li= link_to "test", '/test.html',     _class: "btn btn-default"


    = yield

    -# .container
    -#   .row
    -#     .col-lg-9
    -#       =# bootstrap_flash
    -#       = yield
    -#     .col-lg-3
    -#       .well.sidebar-nav
    -#         %h3 Sidebar
    -#         %ul.nav.nav-list
    -#           %li.nav-header Sidebar
    -#           %li= link_to "Link 1", "/path1"
    -#           %li= link_to "Link 2", "/path2"
    -#           %li= link_to "Link 3", "/path3"

      %footer
        %p
          &copy; Company
          = Date.today.year




    .contiainer


    / Placed at the end of the document so the pages load faster
    %script{type: 'text/javascript', src: 'http://code.jquery.com/jquery.js'}
    %script{type: 'text/javascript', src: '/javascripts/main.js'}




