---
title: Page de CV français
---



#cv

  %div.row
    %div.3u{class: "12u$(mobile)"}

      %h3 Ingénieur ENIC Télécom Lille, France
      %ul
        %li.item Communication avec les mobiles: GSM, UMTS"
        %li Marketing des technologies de l'information

      %h3 International
      %ul
        %li Mobilite: France, pays anglophones, monde
        %li Anglais courant: score TOEIC 920 (/990)

      %h3 Formation
      %ul
        %li Ingénieur Télécom Lille, 2005-2006 (ex ENIC)"
        %li Cisco CSPFF & CSPFA (Cisco Security PIX Firewall Advanced)

      %h3 Stages / séminaires
      %ul
        %li RailsConf 2010 (Baltimore)
        %li RailsConf 2009 (Las Vegas)
        %li ParisOnRails 2007 (Paris)
        %li RailsConf 2007 (Berlin)
        %li PHP Conference 2004 (Amsterdam)
        %li PHP Conference 2002 (Munich)

    %div.9u{class: "12u$(mobile)"}

      %h2 Compétences

      %h3 Architecture web et médias
      %ul
        %li.item Plateformes complexes et redondantes, haute-disponibilité, optimisation
        %li.item Hébergement opensource, RubyOnRails et LAMP
        %li.item Loadbalancing Radware/BigIP/LVS, firewalls Juniper/Arkoon/PF
        %li.item Virtualisation de serveurs, stockage, PKI et infrastructures à certificats
        %li.item Maîtrise des technologies et standards web: HTML/CSS, AJAX, RubyOnRails, Drupal

      %h3 Accompagnement et gestion de projets innovants
      %ul
        %li.item Plateformes complexes et redondantes, haute-disponibilité, optimisation
        %li.item PHébergement opensource, RubyOnRails et LAMP
        %li.item PLoadbalancing Radware/BigIP/LVS, firewalls Juniper/Arkoon/PF
        %li.item PVirtualisation de serveurs, stockage, PKI et infrastructures à certificats
        %li.item PMaîtrise des technologies et standards web: HTML/CSS, AJAX, RubyOnRails, Drupal



      %h2 Expériences

      - data.experiences.each do |item|
        .chapter
          %h3= item.title

          .sidenotes
            = image_tag("logos/#{item.logo}.png", class: "logo", title: "Société Générale")
            .place= item.place
            .where= item.location
            =#.keywords DenyAll rWeb, ActivNetwork, banque, transition, coordination projet




